serverBlock: |
  server {
      listen 8080;
      server_name localhost;

      location / {
          root /usr/share/nginx/html;
          index index.html;
          try_files $uri $uri/ =404;
      }
  }

extraVolumeMounts:
  - name: html
    mountPath: /usr/share/nginx/html
    readOnly: true

extraVolumes:
  - name: html
    configMap:
      name: nginx-html
